<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <section class="download">
        
        <% if(locals.error){ %>
            <h2>Landscape Data Commons - Data Service</h2>
        <!-- <h4><%= locals.error %></h4> -->
            <% if(Array.isArray(locals.error)) { %>

                <% locals.error.forEach(function(msg) { %>
                    <h4><%= msg %></h4>
                <% }) %>
            <%} else { %>
                    <h4><%= locals.error %></h4>
            <% } %>
        <% } else { %>
        <h1>Landscape Data Commons - Data Service</h1>
        <h2>Your file is ready to download</h2>
        <p>Link expires in 24 hours</p>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <% } %>
    </section>
</body>

</html>